@use "../breakpoints.scss" as breakpoints;

.hover {
    transition: var(--transition-micro-medium);

    &:hover {
        transform: translateX(var(--static-space-4));
    }
}

.roleItem {
    padding-left: var(--static-space-24);

    &::before {
        content: "";
        position: absolute;
        top: var(--static-space-8);
        left: var(--static-space-4);
        width: var(--static-space-8);
        height: var(--static-space-8);
        border-radius: var(--radius-full);
        background: var(--brand-on-background-weak);
        transform: translateX(-50%);
        z-index: 1;
    }

    &:not(:last-child)::after {
        content: "";
        position: absolute;
        top: var(--static-space-12);
        bottom: calc(0px - var(--static-space-24) - var(--static-space-12));
        left: var(--static-space-4);
        width: var(--static-space-1);
        background: var(--neutral-alpha-medium);
        transform: translateX(-50%);
    }
}

@media (max-width: breakpoints.$s) {
    .textAlign {
        text-align: center;
    }

    .blockAlign {
        align-self: center;
    }

    .roleHeader {
        flex-direction: column;
        align-items: flex-start;
        gap: var(--static-space-4);
    }
}
